{% extends 'base.html' %}
{% block heading %}
{% endblock heading %}
{% block content %}






    
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            
        }

        .container {
            display: flex;
            height: 100vh;
            flex-wrap: nowrap
        }

        .section {
            padding: 200px; 
            text-align: center;
            width: 50%;
            padding-left:250px;
            flex: 0 0 50%;

        }

        .section h2 {
            color: #333;
        }

        .section p {
            color: #666;
        }

        .button {
            display: inline-block;
            padding: 10px 15px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border-radius: 8px;
        }

        .split-container { 
            display: flex; 
            width: 100%; 
            height: 95%; 
            background-color: #f0f0f0; 
        } 
  
        .split-left, .split-right { 
            flex: 1; 
            overflow: hidden; 
            text-align: center; 
            transition: all 0.3s; 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            padding-top:250px;
            padding-bottom:250px;
        } 



  

    </style>


    <div class="split-container">
        <div class="split-left content-center w-50  bg-gradient-to-r from-violet-200 to-pink-200">
            <h5 class="text-5xl"> For Students </h5>
            <br>
            <p>Join the SAMS platform as a student to upload and showcase your achievements.</p>
            <a href="{% url 'users:student_login' %}" class="button">Login</a>
            <br>
            <p>Don't have an account?<br><a href="/users/studentRegister"> <b> <u> Sign up.</a> </b> </u> </p>
        </div>
        <div class="split-right content-center w-50">
            <h1 class=" text-5xl">For Faculties</h1>
            <br>
            <p> Join the SAMS platform as a Faculty Member to review the achievements uploaded by students.</p>
            <a href="{% url 'users:faculty_login' %}" class="button">Login</a>
            <br>
            <p>Don't have an account?<br><a href="/users/facultyRegister"> <b> <u> Sign up. </a> </b> </u> </p>
        </div>
    </div>

    {% comment %} <div class="p-5 flex justify-center items-center h-screen flex-col">
        <h1 class="text-4xl text-center"> Welcome to the Achievement Management System (AMS) </h1>
        <br>
        <p class="text-center" > The Achievement Management System (AMS) is a groundbreaking platform designed to celebrate and recognize the accomplishments of students and faculty within the academic community. It serves as a virtual 'hall of fame,' allowing users to easily showcase their achievements across diverse fields without the need for individual registrations. This user-friendly and secure system aims to bridge the gap between hard-earned achievements and their acknowledgment, fostering a culture of recognition and encouragement. </p>
        <br>
        <p class="text-2xl font-bold"> Key Features of AMS: </p>
        <p>
            <br> 
            <b> Centralized Showcase: </b> AMS provides a comprehensive platform for students and faculty to display their achievements, ensuring they receive the recognition they deserve.
            <br>
            <b> Seamless Submission: </b> Users can submit their accomplishments effortlessly, without the hassle of creating individual accounts, thanks to our streamlined process.
            <br>
            <b> Approval Process: </b> To maintain the integrity of the platform, all submissions undergo a thorough approval process by administrators and faculty members, ensuring authenticity and accuracy.
            <br>
            <b> Talent Discovery: </b> Faculty members can utilize AMS to identify and engage with talented students, facilitating the organization of events and initiatives.
            <br>
            <b> User-Friendly Interface: </b> The platform is designed for simplicity and accessibility, making it easy for users to navigate and share their milestones.
            <br> <br>
            AMS is more than just a showcase; it is a catalyst for talent discovery and a transformative force in promoting a culture of recognition within the academic environment. By leveraging modern web development techniques and robust security measures, AMS offers a dynamic and inclusive ecosystem for celebrating achievements and fostering academic excellence. </p>
        </p>    
        <p> Beyond its role as a showcase, AMS functions as a strategic tool for talent identification and engagement. Faculty members can leverage the platform to discover and interact with promising students, thereby facilitating the organization of academic events and initiatives. The system is designed with a focus on simplicity and accessibility, providing an intuitive and seamless experience for all users.
            By offering a secure and efficient platform for the recognition of achievements, AMS bridges the gap between accomplishments and their acknowledgment. It aims to create a dynamic and inclusive academic environment that not only celebrates success but also encourages continuous growth and excellence. The Achievement Management System stands as a testament to the institution's commitment to fostering an environment where every achievement is duly recognized and valued. Welcome to AMS, where academic and extracurricular accomplishments are given the prominence they deserve.</p>
        </div> {% endcomment %}

        <h1> Welcome to AMS! </h1>
        <p> The Achievement Management System (AMS) is a web portal for the
        recording and management of achievements of students and faculty of Maharaja Surajmal Institute at
        a single centralized location.</p>
    
        <p> This web portal was created as a way to alleviate the burden of manually recording achievements on the
        faculty and administration of Maharja Surajmal Institute, and instead automate the process. This is a sorely needed facility, as the students and
        faculty at MSI get a plethora of prestigious achievements in a single semester. </p>
    
        <h2> Features of AMS </h2>
    
        <div>
            <h3> Record your achievements and other feats </h3>
            <p> Students and faculty can record their achievements and other data </p>
        </div>
        <div>
            <h3> Centralized </h3>
            <p> The user's records are stored and accessed from a central point. </p>
        </div>
        <div>
            <h3> Easy to use </h3>
            <p> The user interface has been designed with usability in mind </p>
        </div>
        <div>
            <h3> Built-in verification </h3>
            <p> The AMS system implements verification checks to ensure that only authentic data is recorded. </p>
        </div>
        <div>
            <h3> Fast </h3>
            <p> The web page utilizes Django and light weight CSS and JavaScript, making it fast on any device, from smartphones to powerful desktop computers. </p>
        </div>
{% endblock %}
