{% extends 'base.html' %}
{% load home_extras %}
{% block title %}Pending achievements{% endblock %}
{% block heading %}Pending achievements{% endblock %}
{% block content %}
    
<style>
    .main-container {
        padding-top: 400px;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        /* background-color: #f70000; */
        gap: 40px;
    }
    .heading{
        text-align: center;
        font-size: 2em;
    }

    .section {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 800px;
        width: 100%;
    }

    .section-heading{
        font-size: 1.7em;
        text-align: center;
        margin: 15px 0;
    }

    .field {
        margin-bottom: 15px;
    }

    .field label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .field .value {
        font-size: 1em;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
    }

    .buttons {
        display: flex;
        justify-content: right;
        gap: 20px;
    }

    .buttons button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
    }

    .approve-btn {
        background-color: darkblue;
        color: #fff;
    }

    .disapprove-btn {
        background-color: red;
        color: #fff;
    }
</style>


<div class="main-container">
    <h3 class="heading">Pending Achievements</h3>





{% if pending_honors %}
{% for honor in pending_honors %}
    <div class="section">
        <h4 class="section-heading">Honours and Awards</h4>
        <div class="field">
            <label>Title:</label>
            <div class="value">{{honor.title}}</div>
        </div>
        <div class="field">
            <label>Issuing Organization:</label>
            <div class="value">{{honor.issuing_organization}}</div>
        </div>
        <div class="field">
            <label>Year:</label>
            <div class="value">{{honor.date}}</div>
        </div>
        <div class="field">
            <label>Description:</label>
            <div class="value">{{honor.description}}</div>
        </div>
        <form action="{% url 'home:approve_achievement' honor.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="achievement_type" value="honor">
        <div class="buttons">
            <button class="approve-btn" type="submit">Approve</button>
            <button class="disapprove-btn" type="submit">Disapprove</button>
        </div>
    </form>     
    </div>
    {% endfor %}
    {% endif %}


    {% if pending_patents %}
    {% for patent in pending_patents %}
    <div class="section">
        <h4 class="section-heading">Patent</h4>
        <div class="field">
            <label>* Title of the Patent:</label>
            <div class="value">{{patent.title}}</div>
        </div>
        <div class="field">
            <label>* Inventor(s):</label>
            <div class="value">{{patent.inventors}}</div>
        </div>
        <div class="field">
            <label>* Application Number</label>
            <div class="value">{{patent.application_number}}</div>
        </div>
        
        <div class="field">
            <label>* Filing Country</label>
            <div class="value">{{patent.filing_country}}</div>
        </div>

        <div class="field">
            <label>Subject Category</label>
            <div class="value">{{patent.subject_category}}</div>
        </div>

        <div class="field">
            <label>* Filing Date</label>
            <div class="value">{{patent.filing_date}}</div>
        </div>

        <div class="field">
            <label>Publication Date</label>
            <div class="value">{{patent.publication_date}}</div>
        </div>

        <div class="field">
            <label>* Status</label>
            <div class="value">{{patent.status}}</div>
        </div>



        <form action="{% url 'home:approve_achievement' patent.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="achievement_type" value="patent">
        <div class="buttons">
            <button class="approve-btn" type="submit">Approve</button>
            <button class="disapprove-btn" type="submit">Disapprove</button>
        </div>
    </form>   
    </div>
    {% endfor %}
    {% endif %}



    {% if pending_research_projects %}
    {% for project in pending_research_projects %}
    <div class="section">
        <h4 class="section-heading">Research Project</h4>
        <div class="field">
            <label>* Title of the Project:</label>
            <div class="value">{{ project.title }}</div>
        </div>
        <div class="field">
            <label>* Description:</label>
            <div class="value">{{ project.description }}</div>
        </div>
        <div class="field">
            <label>* Start Date:</label>
            <div class="value">{{ project.start_date }}</div>
        </div>
        <div class="field">
            <label>End Date:</label>
            <div class="value">{{ project.end_date }}</div>
        </div>
        <div class="field">
            <label>Ongoing:</label>
            <div class="value">{{ project.ongoing|yesno:"Yes,No" }}</div>
        </div>
        <div class="field">
            <label>* Role:</label>
            <div class="value">{{ project.role }}</div>
        </div>
        <div class="field">
            <label>Funding Agency:</label>
            <div class="value">{{ project.funding_agency }}</div>
        </div>
        <div class="field">
            <label>Grant Number:</label>
            <div class="value">{{ project.grant_number }}</div>
        </div>
        <div class="field">
            <label>Status:</label>
            <div class="value">{{ project.status }}</div>
        </div>
        <div class="field">
            <label>Amount:</label>
            <div class="value">{{ project.amount }}</div>
        </div>

        <form action="{% url 'home:approve_achievement' project.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="achievement_type" value="research_project">
        <div class="buttons">
            <button class="approve-btn" type="submit">Approve</button>
            <button class="disapprove-btn" type="submit">Disapprove</button>
        </div>
    </form>   
    </div>
    {% endfor %}
{% else %}
    <p>No pending research projects.</p>
{% endif %}


{% if pending_publications %}
    {% for publication in pending_publications %}
    <div class="section">
        <h4 class="section-heading">Publication</h4>
        <div class="field">
            <label>* Work Type:</label>
            <div class="value">{{ publication.work_type }}</div>
        </div>
        <div class="field">
            <label>* Title:</label>
            <div class="value">{{ publication.title }}</div>
        </div>
        <div class="field">
            <label>* Year:</label>
            <div class="value">{{ publication.year }}</div>
        </div>
        <div class="field">
            <label>* Journal Name:</label>
            <div class="value">{{ publication.journal_name }}</div>
        </div>
        <div class="field">
            <label>* Authors:</label>
            <div class="value">{{ publication.authors }}</div>
        </div>
        <div class="field">
            <label>DOI:</label>
            <div class="value">{{ publication.doi }}</div>
        </div>
        <div class="field">
            <label>* Issuing Organization:</label>
            <div class="value">{{ publication.issuing_organization }}</div>
        </div>
        <div class="field">
            <label>* Issue Date:</label>
            <div class="value">{{ publication.issue_date }}</div>
        </div>
        <div class="field">
            <label>URL:</label>
            <div class="value">{{ publication.url }}</div>
        </div>
        <div class="field">
            <label>Volume:</label>
            <div class="value">{{ publication.volume }}</div>
        </div>
        <div class="field">
            <label>Page Number:</label>
            <div class="value">{{ publication.page_number }}</div>
        </div>
        <div class="field">
            <label>Publisher Name:</label>
            <div class="value">{{ publication.publisher_name }}</div>
        </div>
        <form action="{% url 'home:approve_achievement' publication.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="achievement_type" value="publication">
        <div class="buttons">
            <button class="approve-btn" type="submit">Approve</button>
            <button class="disapprove-btn" type="submit">Disapprove</button>
        </div>
    </form>   
    </div>
    {% endfor %}
{% else %}
    <p>No pending publications.</p>
{% endif %}

</div>


{% endblock %}
