{% extends 'base.html' %}
{% block heading %}
{% endblock heading %}
{% block content %}

<style>
    main {
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #f4f2ee;
    }

    .container {
        background-color: rgba(203, 234, 243, 0.671);
        width: 900px;
        padding: 20px;
        background-color: #f4f2ee;
    }

    .section {
        background-color: white;
        padding: 20px;
        margin: 20px 0px;
        border: 1px solid #dfdeda;
        border-radius: 8px;
    }

    .section-head {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
    }

    .section-name {
        font-size: 20px;
        font-weight: 600;
    }

    .section-body-heading {
        font-size: 16px;
        font-weight: 550;
        padding: 2px 0;
    }

    .section-body-para {
        font-size: 14px;
    }

    .section-body {
        padding: 5px 0;
    }

    .add-edit-btn {
        background-color: darkblue;
        color: white;
        border: none;
        padding: 3px 5px;
        border-radius: 3px;
    }

    .add-edit-btn:hover {
        background-color: #2d4373;
    }

    /* Hero & Intro */
    .hero {
        position: relative;
    }

    .hero-banner {
        width: 100%;
        height: 200px;
    }

    .hero-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-avatar {
        width: 160px;
        height: 160px;
        position: absolute;
        bottom: -80px;
        left: 20px;
    }

    .hero-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 5px solid #fff;
    }

    .intro {
        margin-top: 70px;
        padding: 20px;
    }

    .intro-name {
        font-size: 30px;
        font-weight: 600;
    }

    .intro-desc {
        font-size: 16px;
        color: #232323;
        margin-bottom: 20px;
    }

    /* Form Elements */
    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .form-row label {
        font-size: 14px;
        margin-right: 10px;
        width: 150px;
        /* Adjust this value to control label width */
        text-align: right;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        width: 100%;
        max-width: 400px;
        padding: 6px;
        /* Reduced padding to decrease height */
        margin: 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1.2;
        /* Adjust line-height for smaller height */
    }

    input[type="submit"],
    button[type="button"] {
        background-color: darkblue;
        color: white;
        padding: 8px 16px;
        /* Reduced padding */
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    input[type="submit"]:hover,
    button[type="button"]:hover {
        background-color: #2d4373;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    /* Personal Info */
    .personal-info-dob-gender {
        padding: 5px 0;
    }

    .personal-info-dob-gender span {
        padding: 0 20px 0 0;
        font-size: 14px;
    }

    .personal-info-name {
        font-size: 14px;
    }

    /* Contact Info */
    #contact-info-section-body div span {
        font-size: 14px;
    }

    #contact-info-section-body div {
        padding: 0 0 5px 0px;
    }

    /* Timeline Experience */
    .timeline {
        max-width: 600px;
        position: relative;
        margin: 15px 60px;
    }

    .timeline::before {
        content: '';
        position: absolute;
        width: 3.5px;
        background: #ddd;
        top: 0;
        bottom: 0;
        left: 40.5px;
    }

    .event {
        padding: 10px 20px;
        position: relative;
        margin-left: 60px;
    }

    .event::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #838383;
        top: 28px;
        left: -24px;
    }

    .dates {
        position: absolute;
        left: -90px;
        top: 15px;
        font-size: 14px;
        font-weight: 550;
    }

    .end-date {
        margin-top: 5px;
    }

    .event p {
        margin: 5px 0 0;
    }

    strong {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    /* Honours and Awards */
    #honours-and-awards-section-body {
        display: flex;
        flex-direction: column;
    }

    .doctoral-theses-guided-item,
    .award-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .year-box {
        background-color: #3b5998;
        color: white;
        padding: 8px 15px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 15px;
        border-radius: 1px;
    }

    .doctoral-theses-guided-details,
    .honours-and-awards-details {
        display: flex;
        flex-direction: column;
    }

    .doctoral-theses-guided-title,
    .award-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .doctoral-theses-guided-institute-and-researcher span,
    .award-institution {
        font-size: 14px;
        color: #666;
    }

    /* Research Projects */
    #research-projects-section-body {
        padding: 16px;
    }

    .research-project-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .funding-agency {
        color: #555;
        margin-bottom: 14px;
    }

    .funding-agency i {
        margin-right: 4px;
    }

    .research-projects-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .research-projects-detail-item {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .research-projects-detail-item i {
        margin-right: 4px;
    }

    /* Patents */
    #patent-section-body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    #patent-section-body span {
        display: block;
        margin-bottom: 5px;
    }

    #patent-section-body .title {
        font-weight: bold;
    }

    #patent-section-body .icon {
        margin-right: 5px;
    }

    #patent-section-body .approved {
        color: green;
    }

    /* Publications */
    #publications-section-body {
        padding: 15px;
        border-radius: 5px;
        max-width: 800px;
        margin: auto;
    }

    .publications-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .publications-authors {
        color: #666;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .publications-footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .publications-tag {
        background-color: #2a9d8f;
        color: white;
        padding: 4px 10px;
        border-radius: 3px;
        font-size: 0.9em;
        margin-right: 10px;
    }

    .publications-journal-details {
        font-size: 0.9em;
        color: #333;
    }

    .publications-volume,
    .publications-year,
    .publications-pages {
        font-weight: bold;
    }

    .each-publication,
    .each-patent,
    .each-research-project {
        border: 1px solid rgb(194, 194, 194);
        border-top: 3px solid darkblue;
        padding: 20px;
    }

    .each-patent .title {
        font-size: 16px;
    }

    .each-patent span {
        font-size: 14px;
    }
</style>

<main>


    <div class="container">


        <div class="section" style="padding: 0;">
            <div class="hero">
                <div class="hero-banner">
                    <img src="https://thumbs.dreamstime.com/b/wall-backgrounds-16268126.jpg" alt="">
                </div>
                <div class="hero-avatar">
                    <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
                        alt="">
                </div>
            </div>

            <div class="intro">
                <div class="intro-name">
                    Pd Rajan
                </div>
                <div class="intro-desc">
                    <span>{{ faculty.designation|capfirst }}</span>
                    <p>New Delhi, Delhi, India</p>
                    <p>{{ education_string | join:", " }}</p>

                </div>
            </div>
        </div>


        <div class="section" id="about">

            <div class="section-head">
                <span class="section-name">About</span>
                <button class="add-edit-btn" onclick="toggleAbout()">Add / Edit</button>
            </div>

            <p id="about-para" class="about-desc section-body-para">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eius repellendus consequatur libero itaque
                eos
                adipisci, quas dicta quasi nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                cupiditate labore culpa ut perspiciatis eum recusandae blanditiis error autem consectetur impedit velit,
                inventore maiores laborum at repudiandae architecto facere magni. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Pariatur sit officiis non similique exercitationem omnis itaque natus soluta expedita
                nemo?
            </p>

            <form id="about-form" style="display: none;">

                    <textarea id="brief-info" rows="4"></textarea>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleAbout()">Cancel</button>
            </form>
        </div>





        <!-- Expertise -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Expertise</span>
                <button class="add-edit-btn" onclick="toggleExpertise()">Add / Edit</button>
            </div>

            <div id="expertise-body" class="section-body">
                <p class="expertise-heading section-body-heading">Chemical Engineering</p>
                <p class="expertise-para section-body-para">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Maxime modi sint
                    distinctio suscipit voluptas reiciendis libero, et esse error. Molestias veritatis deleniti
                    reiciendis provident, exercitationem fuga fugit! Molestias fugiat suscipit rerum et quibusdam natus,
                    sequi, voluptate, recusandae veniam ex error.</p>
            </div>

            <form id="expertise-form" style="display: none;">
                <div class="form-group">
                    <label for="wos-subject">* WOS Subject</label>
                    <select id="wos-subject">
                        <option value="">Select Expertise</option>
                        <option value="Agricultural Sciences">Agricultural Sciences</option>
                        <option value="Arts and Humanities">Arts and Humanities</option>
                        <option value="Biological Sciences">Biological Sciences</option>
                        <option value="Chemical Sciences">Chemical Sciences</option>
                        <option value="Engineering and Technology">Engineering and Technology</option>
                        <option value="Medical and Health Sciences">Medical and Health Sciences</option>
                        <option value="Physical Sciences">Physical Sciences</option>
                        <option value="Social Sciences">Social Sciences</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="expertise">* Expertise</label>
                    <select id="expertise">
                        <option value="">Select Sub Expertise</option>
                        <option value="Aerospace Engineering">Aerospace Engineering</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Automation and Control Systems">Automation and Control Systems</option>
                        <option value="Biomedical Engineering">Biomedical Engineering</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                        <option value="Computer Science Artificial Intelligence">Computer Science Artificial
                            Intelligence</option>
                        <option value="Computer Science Cybernetics">Computer Science Cybernetics</option>
                        <option value="Computer Science Hardware and Architecture">Computer Science Hardware and
                            Architecture</option>
                        <option value="Computer Science Information Systems">Computer Science Information Systems
                        </option>
                        <option value="Computer Science Interdisciplinary SCI">Computer Science Interdisciplinary SCI
                        </option>
                        <option value="Computer Science Software Engineering">Computer Science Software Engineering
                        </option>
                        <option value="Computer Science Theory and Methods">Computer Science Theory and Methods</option>
                        <option value="Construction and Building Technology">Construction and Building Technology
                        </option>
                        <option value="Electrical and Electronic Engineering">Electrical and Electronic Engineering
                        </option>
                        <option value="Energy and Fuels">Energy and Fuels</option>
                        <option value="Environmental Engineering">Environmental Engineering</option>
                        <option value="Ergonomics">Ergonomics</option>
                        <option value="Geological Engineering">Geological Engineering</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="brief-info">* Brief Info</label>
                    <textarea id="brief-info" rows="4"></textarea>
                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleExpertise()">Cancel</button>
            </form>
        </div>




        <!-- Email Information -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Email Information</span>
                <button class="add-edit-btn" onclick="toggleEmail()">Add / Edit</button>
            </div>

            <div id="email-section-body" class="section-body">
                <p> {{ faculty.user.email }} </p>
            </div>

            <form id="email-section-form" style="display: none;">
                <div>

                    <input id="email-input" type="text">
                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleEmail()">Cancel</button>
            </form>
        </div>




        <!-- Personal Information -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Personal Information</span>
                <button class="add-edit-btn" onclick="togglePersonalInfo()">Add / Edit</button>
            </div>

            <div id="personal-info-section-body" class="section-body">
                <p class="personal-info-name"> {{ faculty.user.first_name }} {{ faculty.user.last_name }}</p>
                <div class="personal-info-dob-gender">
                    <span>25-06-2003</span>
                    <span>Male</span>
                </div>
            </div>

            <form id="personal-info-section-form" style="display: none;">
                <div>
                    <select id="title">
                        <option value="">Title*</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                    </select>
                    <input id="fname" type="text">
                    <input id="lname" type="text">
                </div>

                <div>
                    <input type="date">

                    <select id="gender">
                        <option value="">Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>

                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="togglePersonalInfo()">Cancel</button>
            </form>
        </div>



        <!-- Contact Information -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Contact Information</span>
                <button class="add-edit-btn" onclick="toggleContactInfo()">Add / Edit</button>
            </div>

            <div id="contact-info-section-body" class="section-body">
                <div>
                    <span>Street Name,</span>
                    <span>Delhi,</span>
                    <span>India</span>
                </div>
                <div>
                    <span>East Delhi,</span>
                    <span>Delhi,</span>
                    <span>India - 110058</span>
                </div>
                <div>
                    <span>+91 9999999999</span>
                    <span>+91 9999999999</span>
                    <span>https://www.youtube.com/</span>
                </div>


            </div>

            <form id="contact-info-section-form" style="display: none;">
                <div>
                    <label for="">Mobile Number</label>
                    <input id="" type="text">
                </div>
                <div>
                    <label for="">Mobile Number</label>
                    <input id="" type="text">
                </div>
                <div>
                    <input id="" type="text">
                </div>
                <div>
                    <input id="" type="text">
                </div>

                <div>
                    <input id="" type="text">
                    <input id="" type="text">
                </div>
                <div>
                    <input id="" type="text">
                    <input id="" type="text">
                </div>

                <div>
                    <label for="">Web URL</label>
                    <input id="" type="text">
                </div>

                <button type="submit">Save</button>
                <button type="button" onclick="toggleContactInfo()">Cancel</button>
            </form>
        </div>


        <!--  Experience -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Experience</span>
                <button class="add-edit-btn" onclick="toggleExperience()">Add / Edit</button>
            </div>

            <div id="experience-section-body" class="section-body">
                <div class="timeline">
                    <div class="event">
                        <div class="dates">
                            <div>2012</div>
                            <div class="end-date">2018</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Post-Doctoral
                                Fellow</strong>Physics<br>University of Porto, Porto, Portugal, Porto
                        </p>
                    </div>
                    <div class="event">
                        <div class="dates">
                            <div>2018</div>
                            <div class="end-date">Present</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Assistant
                                Professor</strong>Department of Physics<br>National College, Tirucirappalli
                        </p>
                    </div>
                    <div class="event">
                        <div class="dates">
                            <div>2018</div>
                            <div class="end-date">Present</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Assistant
                                Professor</strong>Department of Physics<br>National College, Tirucirappalli
                        </p>
                    </div>
                </div>
            
            </div>

            <form id="experience-section-form" style="display: none;">
                <label for="institute">* Institute</label>
                <input type="text" id="institute" placeholder="Select Organisation">
                <br><br>

                <label for="department">Department</label>
                <input type="text" id="department" placeholder="Select Department">
                <br><br>

                <label for="organisationType">* Organisation Type</label>
                <select id="organisationType">
                    <option value="research-and-development" selected>Research and Development</option>
                    <option value="institute-of-national-importance">Institute of National Importance</option>
                    <option value="central-university">Central University</option>
                    <option value="research-and-development">Research and Development</option>
                    <option value="deemed-university">Deemed University</option>
                    <option value="deemed-university-government">Deemed University-Government</option>
                    <option value="state-university">State University</option>
                    <option value="private-university">Private University</option>
                    <option value="institute-under-state-legislature-act">Institute Under State Legislature Act</option>
                    <option value="technical-institute">Technical Institute</option>
                    <option value="college">College</option>
                    <option value="other-institute">Other Institute</option>
                    <option value="iucs-of-ugc">IUCs of UGC</option>
                    <option value="private-ltd">Private Ltd.</option>
                </select>
                <br><br>

                <label for="organisationUrl">Organisation Url</label>
                <input type="text" id="organisationUrl" placeholder="Enter Organisation Url">
                <br><br>

                <label for="district">* District</label>
                <input type="text" id="district" placeholder="Enter District">
                <br><br>

                <label for="isn">ISN</label>
                <input type="text" id="isn" placeholder="Ex: 0000 0001 0153 2859">
                <br><br>

                <label for="designation">* Designation</label>
                <input type="text" id="designation" placeholder="Select Designation">
                <span>[Select the Designation name from the auto suggestion.]</span>
                <br><br>

                <label for="startDate">* Start Date</label>
                <select id="startMonth">
                    <option value="">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <input id="" type="number">
                <br><br>

                <label for="endDate">* End Date</label>
                <select id="endMonth">
                    <option value="">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <input id="" type="number">
                <input type="checkbox" id="currentlyWorkHere"> currently work here
                <div>

                    <button type="submit">Save</button>
                    <button type="button" onclick="toggleExperience()">Cancel</button>
                </div>
            </form>
        </div>




        <!--  Education Qualification -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Education Qualification</span>
                <button class="add-edit-btn" onclick="toggleEducationQualification()">Add / Edit</button>
            </div>

            <div id="education-qualification-section-body" class="section-body">
                <div class="timeline">
                    <div class="event">
                        <div class="dates">
                            <div>2012</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Post-Doctoral
                                Fellow</strong>University of Porto, Porto, Portugal, Porto</p>
                    </div>
                    <div class="event">
                        <div class="dates">
                            <div>2018</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Assistant
                                Professor</strong>National College, Tirucirappalli</p>
                    </div>
                </div>
            </div>

            <form id="education-qualification-section-form" style="display: none;">
                <div class="form-group">
                    <label for="qualification">* Qualification</label>
                    <input type="text" id="qualification" placeholder="Ex:Ph.D">
                </div>
                <div class="form-group">
                    <label for="institute">* Institute</label>
                    <input type="text" id="institute" placeholder="Enter institute">
                    <input type="checkbox" id="add-institute">
                    <label for="add-institute">Add Institute</label>
                </div>
                <small>[ Select the institute name from the auto suggestion or click on "Add Institute Name" to include
                    in the
                    list. ]</small>
                <div class="form-group">
                    <label for="subject">* Subject</label>
                    <input type="text" id="subject" placeholder="Enter Subject">
                </div>
                <div class="form-group">
                    <label for="year">* Passing Year</label>
                    <input type="number">
                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleEducationQualification()">Cancel</button>
            </form>
        </div>





        <!-- Honours and Awards  -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Honours and Awards</span>
                <button class="add-edit-btn" onclick="toggleHonoursAndAwarda()">Add / Edit</button>
            </div>
            <!-- ******************************** -->
            <div id="honours-and-awards-section-body" class="section-body">
                <div class="award-item">
                    <div class="year-box">2023</div>
                    <div class="honours-and-awards-details">
                        <span class="award-title">Resource Person in Six Day Faculty Development Program</span>
                        <span class="award-institution">Nehru Institute of Technology, Coimbatore</span>
                    </div>
                </div>
                <div class="award-item">
                    <div class="year-box">2022</div>
                    <div class="honours-and-awards-details">
                        <span class="award-title">Chief Guest for National Science Day program</span>
                        <span class="award-institution">Ganesar College of Arts and Science, Pudukkottai, TN</span>
                    </div>
                </div>
            </div>
            <!-- ******************************** -->
            <form id="honours-and-awards-section-form" style="display: none;">
                <div>
                    <div>
                        <label for="">Awarded year</label>
                        <input id="fname" type="number">
                    </div>
                    <div>
                        <label for="">* Award name</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">* Awarded by</label>
                        <input id="fname" type="text">
                    </div>

                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleHonoursAndAwarda()">Cancel</button>
            </form>
        </div>

        <!-- Doctoral Theses Guided      -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Doctoral Theses Guided</span>
                <button class="add-edit-btn" onclick="toggleDoctoralThesesGuided()">Add / Edit</button>
            </div>

            <div id="doctoral-theses-guided-section-body" class="section-body">
                <div class="doctoral-theses-guided-item">
                    <div class="year-box">2013</div>
                    <div class="doctoral-theses-guided-details">
                        <span class="doctoral-theses-guided-title">This is the title of thesis guided. i need to sleep
                            but i also need to finish mpr</span>
                        <div class="doctoral-theses-guided-institute-and-researcher">
                            <span>Maharaja surajmal institute,</span><span>Researcher's Name</span>
                        </div>
                    </div>
                </div>
            </div>

            <form id="doctoral-theses-guided-section-form" style="display: none;">
                <div>

                    <div>
                        <label for="">* Name</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">* Title</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">* Institute</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">Awarded year</label>
                        <input id="fname" type="number">
                    </div>

                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleDoctoralThesesGuided()">Cancel</button>
            </form>
        </div>




        <!-- Membership in Committees   -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Membership in Committees</span>
                <button class="add-edit-btn" onclick="toggleMembershipInCommittees()">Add / Edit</button>
            </div>

            <div id="membership-in-committees-section-body" class="section-body">
                <div class="timeline">
                    <div class="event">
                        <div class="dates">
                            <div>2012</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Brazilian Physics
                                Society</strong>Member</p>
                    </div>
                    <div class="event">
                        <div class="dates">
                            <div>2018</div>
                        </div>
                        <p style="font-size: 14px;"><strong style="font-size: 16px;">Brazilian BIO Society</strong>Head
                        </p>
                    </div>
                </div>

            </div>

            <form id="membership-in-committees-section-form" style="display: none;">
                <div>

                    <div>
                        <label for="">* Name</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">* Designation</label>
                        <input id="fname" type="text">
                    </div>
                    <div>
                        <label for="">* Year</label>
                        <input id="fname" type="number">
                    </div>

                </div>
                <button type="submit">Save</button>
                <button type="button" onclick="toggleMembershipInCommittees()">Cancel</button>
            </form>
        </div>



        <!-- Research Projects       -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Research Projects</span>
                <button class="add-edit-btn" onclick="toggleResearchProjects()">Add / Edit</button>
            </div>

            <div id="research-projects-section-body" class="section-body">
                <div class="each-research-project">

                    <div class="project-title">Enhancing magneto-transport property in nanostructured materials</div>
                    <div class="funding-agency">
                        <i class="fas fa-briefcase"></i> Funding Agency: DST-SERB
                    </div>
                    <div class="research-projects-details">
                        <div class="research-projects-detail-item">
                            <i class="fas fa-thumbs-up"></i> On-going
                        </div>
                        <div class="research-projects-detail-item">
                            <i class="fas fa-user"></i> Principal Investigator
                        </div>
                        <div class="research-projects-detail-item">
                            <i class="fas fa-rupee-sign"></i> ₹ 18,50,000.00
                        </div>
                        <div class="research-projects-detail-item">
                            <i class="fas fa-calendar-alt"></i> 2019 - 2022
                        </div>
                    </div>

                </div>
            </div>

            <form id="research-projects-section-form" style="display: none;">
                <div>
                    <label for="project-title">* Title of the project</label>
                    <input type="text" id="project-title" name="project-title" placeholder="Title of the Project">
                </div>
                <div>
                    <label for="start-date-month">* Start date</label>
                    <select id="start-date-month" name="start-date-month">
                        <option value="">Month</option>
                        <!-- Add month options -->
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <input type="number">
                </div>
                <div>
                    <label for="end-date-month">End date</label>
                    <select id="end-date-month" name="end-date-month">
                        <option value="">Month</option>
                        <!-- Add month options -->
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <input type="number">
                    <label for="ongoing">Ongoing</label>
                    <input type="checkbox" id="ongoing" name="ongoing">
                </div>
                <div>
                    <label for="role">* Role</label>
                    <input type="text" id="role" name="role" placeholder="Enter Role">
                </div>
                <div>
                    <label for="funding-agency">* Funding agency</label>
                    <input type="text" id="funding-agency" name="funding-agency" placeholder="Enter Funding Agency">
                </div>
                <div>
                    <label for="grant-no">Grant No.</label>
                    <input type="text" id="grant-no" name="grant-no" placeholder="Enter Grant No.">
                </div>
                <div>
                    <label for="status">Status</label>
                    <select id="status" name="status">
                        <!-- Add status options -->
                        <option value="">Select Status</option>
                        <option value="approved">Ongoing</option>
                        <option value="pending">Completed</option>
                    </select>
                </div>
                <div>
                    <label for="amount">* Amount</label>
                    <input type="text" id="amount" name="amount" placeholder="Enter Amount">
                </div>

                <button type="submit">Save</button>
                <button type="button" onclick="toggleResearchProjects()">Cancel</button>
            </form>
        </div>






        <!-- Patent       -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Patent</span>
                <button class="add-edit-btn" onclick="togglePatent()">Add / Edit</button>
            </div>

            <div id="patent-section-body" class="section-body">
                <div class="each-patent">
                    <span class="title">This is the title of patent</span>
                    <span><i class="fas fa-user icon"></i> Mr. Inversor</span>
                    <span><i class="fas fa-university icon"></i> MSIT JanakPURI</span>
                    <span><i class="fas fa-file-alt icon"></i> Patent No. 68776876</span>
                    <span><i class="fas fa-seedling icon"></i> Agricultural Sciences <i
                            class="fas fa-check approved icon"></i> Approved</span>
                    <span><i class="fas fa-calendar-alt icon"></i> Filed 2024-05-01 <i class="fas fa-calendar icon"></i>
                        Published 2024-05-31</span>

                </div>

            </div>

            <form id="patent-section-form" style="display: none;">
                <div class="form-group">
                    <label for="title">* Title of the Patent</label>
                    <input type="text" id="title" name="title" placeholder="Title of the Patent" required>
                </div>
                <div class="form-group">
                    <label for="inventors">* Inventor(s)</label>
                    <input type="text" id="inventors" name="inventors" placeholder="Patent Creator(s)" required>
                </div>
                <div class="form-group">
                    <label for="applicant">Applicant Name</label>
                    <input type="text" id="applicant" name="applicant" placeholder="Person Name / Organisation Name">
                </div>
                <div class="form-group">
                    <label for="app-number">* Application Number</label>
                    <input type="text" id="app-number" name="app-number" placeholder="Application Number" required>
                </div>
                <div class="form-group">
                    <label for="patent-number">Patent Number</label>
                    <input type="text" id="patent-number" name="patent-number" placeholder="Patent Number">
                </div>
                <div class="form-group">
                    <label for="filing-country">Filing Country</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label for="subject-category">Subject Category</label>
                    <select id="subject-category" name="subject-category">
                        <option value="">Select Category</option>
                        <option value="agricultural-sciences">Agricultural Sciences</option>
                        <option value="arts-humanities">Arts and Humanities</option>
                        <option value="biological-sciences">Biological Sciences</option>
                        <option value="chemical-sciences">Chemical Sciences</option>
                        <option value="engineering-technology">Engineering and Technology</option>
                        <option value="medical-health-sciences">Medical and Health Sciences</option>
                        <option value="physical-sciences">Physical Sciences</option>
                        <option value="social-sciences">Social Sciences</option>
                        <!-- Add more category options here -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="filing-date">* Filing Date</label>
                    <input type="date" id="filing-date" name="filing-date" required>
                </div>
                <div class="form-group">
                    <label for="publication-date">Publication Date</label>
                    <input type="date" id="publication-date" name="publication-date">
                </div>
                <div class="form-group">
                    <label for="status">* Status</label>
                    <select id="status" name="status" required>
                        <option value="">Select Status</option>
                        <option value="">Filed</option>
                        <option value="">Published</option>
                        <option value="">Granted</option>
                        <!-- Add more status options here -->
                    </select>
                </div>


                <button type="submit">Save</button>
                <button type="button" onclick="togglePatent()">Cancel</button>
            </form>
        </div>


        <!-- Publications -->
        <div class="section">
            <div class="section-head">
                <span class="section-name">Publications</span>
                <button class="add-edit-btn" onclick="togglePublications()">Add / Edit</button>
            </div>

            <div id="publications-section-body" class="section-body">
                <div class="each-publication">

                    <div class="publications-title">
                        This is title chapter, this should be a bit big, maybe a bit more
                    </div>
                    <div class="publications-authors">
                        Pd, Shivo, Khattar, Pandey
                    </div>
                    <div class="publications-footer">
                        <span class="publications-tag">conference paper</span>
                        <span class="publications-journal-details">Journal/Book Title, <span
                                class="publications-volume">Volume 345</span>, <span class="publications-year">Year
                                2015</span>, <span class="publications-pages">Pages 67</span></span>
                    </div>

                </div>
            </div>

            <form id="publications-section-form" style="display: none;">
                <div>
                    <label for="work-type">* Work Type</label>
                    <select id="work-type" name="work-type" required>
                        <option value="">Type</option>
                        <option value="art">Art</option>
                        <option value="article">Article</option>
                        <option value="article-in-press">Article-in-Press (AIP)</option>
                        <option value="book">Book</option>
                        <option value="book-chapter">Book Chapter</option>
                        <option value="conference-paper">Conference Paper</option>
                        <option value="conference-proceedings">Conference Proceedings</option>
                        <option value="data-paper">Data Paper</option>
                        <option value="editorial">Editorial</option>
                        <option value="erratum">Erratum</option>
                        <option value="letter">Letter</option>
                        <option value="note">Note</option>
                        <option value="retracted-article">Retracted Article</option>
                        <option value="review">Review</option>
                        <option value="short-survey">Short Survey</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div>
                    <label for="title">* Title/Chapter</label>
                    <input type="text" id="title" name="title" placeholder="Title of the Publication" required>
                </div>

                <div>
                    <label for="journal-title">* Journal/Book Title</label>
                    <input type="text" id="journal-title" name="journal-title" placeholder="Enter Journal/Book Title"
                        required>
                </div>

                <div>
                    <label for="year">Year</label>
                    <input type="number" id="year" name="year" placeholder="Year">
                </div>

                <div>
                    <label for="author">* Author</label>
                    <input type="text" id="author" name="author" placeholder="Enter Author" required>
                    <p>(Maintain the uniformity in the author name and also separate the author by (,, or , or and) to
                        generate
                        co-author network)</p>
                </div>

                <div>
                    <label for="url">Url</label>
                    <input type="url" id="url" name="url" placeholder="Enter Url">
                </div>

                <div>
                    <label for="doi">Doi</label>
                    <input type="text" id="doi" name="doi" placeholder="Enter Doi">
                </div>

                <div>
                    <label for="volume">Volume</label>
                    <input type="text" id="volume" name="volume" placeholder="Enter Volume">
                </div>

                <div>
                    <label for="page-no">Page No.</label>
                    <input type="number" id="page-no" name="page-no" placeholder="Enter Page No">
                </div>

                <div>
                    <label for="editor">Editor</label>
                    <input type="text" id="editor" name="editor" placeholder="Enter Editor Name">
                </div>
                <div>
                    <label for="publisher">Publisher</label>
                    <input type="text" id="publisher" name="publisher" placeholder="Enter Publisher Name">
                </div>


                <button type="submit">Save</button>
                <button type="button" onclick="togglePublications()">Cancel</button>
            </form>
        </div>

    </div>


    <script>
        function toggleExpertise() {
            var form = document.getElementById("expertise-form");
            var body = document.getElementById("expertise-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleEmail() {
            var form = document.getElementById("email-section-form");
            var body = document.getElementById("email-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function togglePersonalInfo() {
            var form = document.getElementById("personal-info-section-form");
            var body = document.getElementById("personal-info-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleContactInfo() {
            var form = document.getElementById("contact-info-section-form");
            var body = document.getElementById("contact-info-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleExperience() {
            var form = document.getElementById("experience-section-form");
            var body = document.getElementById("experience-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleEducationQualification() {
            var form = document.getElementById("education-qualification-section-form");
            var body = document.getElementById("education-qualification-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleHonoursAndAwarda() {
            var form = document.getElementById("honours-and-awards-section-form");
            var body = document.getElementById("honours-and-awards-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleDoctoralThesesGuided() {
            var form = document.getElementById("doctoral-theses-guided-section-form");
            var body = document.getElementById("doctoral-theses-guided-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleMembershipInCommittees() {
            var form = document.getElementById("membership-in-committees-section-form");
            var body = document.getElementById("membership-in-committees-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleResearchProjects() {
            var form = document.getElementById("research-projects-section-form");
            var body = document.getElementById("research-projects-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function togglePatent() {
            var form = document.getElementById("patent-section-form");
            var body = document.getElementById("patent-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function togglePublications() {
            var form = document.getElementById("publications-section-form");
            var body = document.getElementById("publications-section-body");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
        function toggleAbout() {
            var form = document.getElementById("about-form");
            var body = document.getElementById("about-para");
            if (form.style.display === "block") {
                body.style.display = "block";
                form.style.display = "none";
            } else {
                body.style.display = "none";
                form.style.display = "block";
            }
        }
    </script>


</main>
{% endblock %}